@model Member
@{
    ViewData["Title"] = "Register Member";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        @Html.Partial("_Header")
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Confirmation" asp-controller="Register">
        <p><label for="Card_no">Card No: <input type="text" id="Card_no" name="Card_no" value=""></label></p>
        <p><label for="Personal_id">Personal ID: <input type="text" id="Personal_id" name="Personal_id" value=""></label></p>
        <p><label for="Birthday">Birth Day: <input type="text" id="Birthday" name="Birthday" value=""></label></p>
        <p><label for="Mobilephone">Mobile No: <input type="text" id="Mobilephone" name="Mobilephone" value=""></label></p>
        <p><input type="submit" value="Register" name="check_profile" id="check_profile" />
        </form>
    </div>
</div>
